@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    :root {
      --gradient: linear-gradient(to top left, #2c3e50, #4a6070, #34495e);;
      --background: 223 96.45% 98.48%;
      --foreground: 223 2.9% 0.96%;
  
      --muted: 223 2.9% 92.4%;
      --muted-foreground: 223 1.45% 42.4%;
  
      --popover: 223 66.8% 92.4%;
      --popover-foreground: 223 2.9% 1.2%;
  
      --card: 223 66.8% 92.4%;
      --card-foreground: 223 2.9% 1.2%;
  
      --border: 223 7.9% 89.96%;
      --input: 223 7.9% 89.96%;
  
      --primary: 223 29% 24%;
      --primary-foreground: 223 0.58% 92.4%;
  
      --secondary: 223 1.45% 96.2%;
      --secondary-foreground: 223 2.7399999999999998% 12.4%;
  
      --accent: 223 1.45% 96.2%;
      --accent-foreground: 223 2.7399999999999998% 12.4%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --ring: 223 29% 24%;
  
      --radius: 0.5rem;
    }

  .dark {
    --gradient: linear-gradient(to top left,#A770EF,#CF8BF3,#FDB99B);

    --background: 283 52% 5.52%;
    --foreground: 283 8% 98.45%;

    --muted: 283 40% 20.7%;
    --muted-foreground: 283 8% 56.9%;

    --popover: 283 49% 8.969999999999999%;
    --popover-foreground: 283 8% 98.45%;

    --card: 283 49% 8.969999999999999%;
    --card-foreground: 283 8% 98.45%;

    --border: 283 40% 20.7%;
    --input: 283 40% 20.7%;

    --primary: 283 80% 69%;
    --primary-foreground: 283 8% 6.8999999999999995%;

    --secondary: 283 40% 20.7%;
    --secondary-foreground: 283 8% 98.45%;

    --accent: 283 40% 20.7%;
    --accent-foreground: 283 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 283 8% 98.45%;

    --ring: 283 80% 69%;
  }
}

@layer base {
  * {
    @apply border-border text-primary;
  }

  body {
    @apply bg-background text-foreground;
  }
}