---
import PageHeader from "@/layouts/PageHeader.astro";
import ROOT from "@/layouts/Root.astro";
---

<ROOT title="404 - Astroplate">
  <PageHeader title="ERR: Page Not Found">
    <main class="flex min-h-[50svh] flex-col items-center justify-center gap-8">
      <p class="text-8xl">😳</p>
    </main>
  </PageHeader>
</ROOT>
