---
import ROOT from "@/layouts/Root.astro";
import PageHeader from "@/layouts/PageHeader.astro";
---

<ROOT title="Astroplate - About">
  <PageHeader title="About">
    <main class="flex flex-col items-center min-h-[50svh] justify-center">
      <p class="text-left max-w-4xl xl:text-3xl tracking-wide">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente quia
        aliquid accusantium veritatis molestiae incidunt illum nobis deserunt,
        minima provident ullam ipsum illo est a sit soluta possimus. Temporibus,
        quo. Aut ad molestias possimus amet laborum commodi non facere fuga
        molestiae, eveniet, at velit sed magnam consectetur nemo. Eveniet,
        suscipit.
      </p>
    </main>
  </PageHeader>
</ROOT>
