---
import CartDrawer from "@/components/CartDrawer";
import ROOT from "@/layouts/Root.astro";
import PageHeader from "@/layouts/PageHeader.astro";
---

<ROOT title="Astroplate - About">
  <PageHeader title="About">
    <main class="flex flex-col items-center h-screen justify-center"></main>
  </PageHeader>
</ROOT>
