---
import { Button } from "@/components/ui/button";
import CartDrawer from "@/components/CartDrawer";
import ROOT from "@/layouts/Root.astro";
import PageHeader from "@/layouts/PageHeader.astro";
---

<ROOT title="Astroplate - Contact">
  <PageHeader title="Contact">
    <main class="flex flex-col items-center h-screen justify-center"></main>
  </PageHeader>
</ROOT>
