---
import { CardWithForm } from "@/components/CardWithForm";
import ROOT from "@/layouts/Root.astro";
---

<ROOT title="Astroplate - Home">
  <main class="flex flex-col items-center h-screen justify-center">
    <CardWithForm client:load />
  </main>
</ROOT>
