---
const { title } = Astro.props;
---

<section class="flex flex-col w-full items-center p-4">
  <div class="flex w-full">
    <h1
      class="text-8xl uppercase tracking-tighter font-bold text-secondary-foreground/20"
    >
      {title}
    </h1>
  </div>
  <slot />
</section>
